body {
    font-family: serif,"Britannic Bold", "Arial";
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f5eb;
}
header {
    display: flex;
    justify-content: center;
    align-content: center;
}
.carousel-container {
    position: relative;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    gap: 15px;
}

.carousel-slide {
    flex: 0 0 auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.carousel-slide:nth-child(1),
.carousel-slide:nth-child(5) {
    width: 15%;
    opacity: 0.6;
}

.carousel-slide:nth-child(2),
.carousel-slide:nth-child(4) {
    width: 20%;
    opacity: 0.8;
}

.carousel-slide:nth-child(3) {
    width: 30%;
    opacity: 1;
    transform: scale(1);
}

.carousel-slide img {
    width: 100%;
    height: 40%;
    display: block;
}

.carousel-buttons {
    text-align: center;
    margin-top: 10px;
}

.carousel-button {
    background-color: #ECD54C;
    border: none;
    color: black;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #d1b842;
}

.carousel-button:focus {
    outline: none;
}
