.comments-container {
    width: 80%;
    margin: 20px auto;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    flex: 1;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.info h3 {
    font-size: 16px;
    margin: 10px 0;
}

.info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}

.rating {
    direction: rtl;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

.rating input#star0:checked ~ label {
    color: #ccc;
}
.new-comment {
    justify-content: center;
    background-color: #ECD54C;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-left: 200px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 15px;
    margin-bottom: 20px;
}
.new-comment:hover {
    background-color: #d1b842;
}

.send-rating {
    justify-content: center;
    background-color: #ECD54C;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-bottom: 150px;
}

a{
    text-decoration: none;
}
