.container {
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top: 70px;
}

.image-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.text h1 {
    font-size: 24px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.text p {
    font-size: 14px;
    margin: 35px 0;
    margin-left: 150px;;
}
