.stats-container {
    display: flex;
    gap: 40px;
    margin-left: 250px;
}

.column {
    text-align: center;
}

.small-text {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 30px;
}

.large-text {
    font-size: 20px;
    font-weight: bold;
}

.profilesocialstats-container {
    display: flex;
    align-items: center;
}
