<div class="comments-container">
  <div class="comment" *ngFor="let comment of comments">
    <div class="user">
      <a *ngIf="type === 'videogame'" routerLink="/user" [queryParams]="{ id: comment.user?.id }">
        <img [src]="comment.user?.profileicon" [alt]="comment.user?.username" class="profile-image">
      </a>
      <a *ngIf="type === 'user'" routerLink="/videogame" [queryParams]="{ id: comment.videogame?.id }">
        <img [src]="comment.videogame?.imageprofile" [alt]="comment.videogame?.title" class="profile-image">
      </a>

      <aside class="info">
        <h3 *ngIf="type === 'videogame'">{{ comment.user?.username }}</h3>
        <h3 *ngIf="type === 'user'">{{ comment.videogame?.title }}</h3>
        <p>{{ comment.content }}</p>
      </aside>
    </div>
    <aside>
      <app-stars [rating]="comment.rating"></app-stars>
    </aside>
    <button
      *ngIf="comment.userId === currentUserId"
      (click)="navigateToEditComment(comment.videogameId)"
      class="edit-button"
      title="Editar comentario">
      ✏️
    </button>
  </div>
</div>