<div class="comments-container">
  <div class="comment" *ngFor="let comment of getSortedComments()">
    <div class="user">
      <a *ngIf="type === 'videogame'" [routerLink]="['/user', comment.user?.id]">
        <img [src]="setProfileIcon(comment)" [alt]="comment.user?.username" class="userprofile-image">
      </a>
      <a *ngIf="type === 'user'" [routerLink]="['/videogame', comment.videogame?.slug]">
        <img [src]="comment.videogame?.cover" [alt]="comment.videogame?.name" class="videogameprofile-image">
      </a>
      <aside class="info">
        <h3 *ngIf="type === 'videogame'">{{ comment.user?.username }}</h3>
        <h3 *ngIf="type === 'user'">{{ comment.videogame?.name }} <span *ngIf="showReleaseYear(comment.videogame?.year)">
          ({{ comment.videogame?.year }})</span></h3>
        <p>{{ comment.content }}</p>
        <span class="comment-date">{{ comment.createdAt | date: 'dd/MM/yyyy, HH:mm' }}</span>
      </aside>
    </div>
    <aside class="stars-container">
      <app-stars [rating]="comment.rating"></app-stars>
      <button
      *ngIf="comment.userId === currentUserId && type === 'user'"
      title="Editar comentario"
      class="edit-button"
      (click)="navigateToEditCommentFromUserProfile(comment.videogame.slug)">
      <i class="fas fa-pen"></i>
    </button>
      <button
        *ngIf="comment.userId === currentUserId && type === 'videogame'"
        class="edit-button"
        (click)="navigateToEditCommentFromVideogame()"
        title="Editar comentario">
        <i class="fas fa-pen"></i>
      </button>
    </aside>
    <div *ngIf="comment.userId !== currentUserId" class="like-container">
      <button
        class="like-button"
        [ngClass]="{'liked': comment.likes?.includes(currentUserId)}"
        (click)="toggleLike(comment)">
        <i class="fas fa-thumbs-up"></i>
      </button>
      <span class="like-count">{{ comment.likes?.length || 0 }}</span>
    </div>
  </div>
</div>
