.comments-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; 
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
}

.comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.user {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.userprofile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.videogameprofile-image {
  width: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.info h3 {
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

.info p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.edit-button {
  background: none;
  border: none; 
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-button:hover {
  color: #0056b3;
}

.comment-date {
  color: #a9a9a9; 
  font-size: 0.85rem; 
  margin-top: 0.5rem; 
  display: block;
}

@media (max-width: 1023px) {
  .comment {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .profile-image {
    width: 40px;
    height: 40px;
  }

  .comments-container {
    margin: auto 0;
  }

  .info h3 {
    font-size: 0.95rem;
  }

  .info p {
    font-size: 0.85rem;
  }
}
