<div class="comments-container">
  <label for="order" class="order-label">Mostrar primero:</label>
  <select id="order" class="order-select" [(ngModel)]="selectedOrder" (change)="sortComments()">
    <option *ngFor="let option of orderOptions" [value]="option.value">
      {{option.text}}
    </option>
  </select>
  <div class="comment" *ngFor="let comment of comments">
    <div class="user">
      <a *ngIf="type === 'videogame'" [routerLink]="['/user', comment.user?.id]">
        <img [src]="setProfileIcon(comment)" [alt]="comment.user?.username" class="userprofile-image">
      </a>
      <a *ngIf="type === 'user'" [routerLink]="['/videogame', comment.videogame?.slug]">
        <img [src]="comment.videogame?.cover" [alt]="comment.videogame?.name" class="videogameprofile-image">
      </a>
      <aside class="info">
        <h3 *ngIf="type === 'videogame'">{{ comment.user?.username }}</h3>
        <h3 *ngIf="type === 'user'">{{ comment.videogame?.name }} <span *ngIf="showReleaseYear(comment.videogame?.year)">
          ({{ comment.videogame?.year }})</span></h3>
        <p>{{ comment.content }}</p>
        <span class="comment-date">{{ comment.createdAt | date: 'dd/MM/yyyy, HH:mm' }}</span>
      </aside>
    </div>
    <aside class="stars-container">
      <app-stars [rating]="comment.rating"></app-stars>
      <button
      *ngIf="comment.userId === currentUserId && type === 'user'"
      title="{{ 'commentaries.edit_comment' | translate }}"
      class="edit-button"
      (click)="navigateToEditCommentFromUserProfile(comment.videogame.slug)">
      <i class="fas fa-pen"></i>
    </button>
      <button
        *ngIf="comment.userId === currentUserId && type === 'videogame'"
        class="edit-button"
        (click)="navigateToEditCommentFromVideogame()"
        title="{{ 'commentaries.edit_comment' | translate }}">
        <i class="fas fa-pen"></i>
      </button>
      <button
        *ngIf="comment.userId === currentUserId && type === 'user'"
        class="delete-button"
        (click)="showDeleteModal(comment)"
        title="{{ 'commentaries.delete_comment' | translate }}">
        <i class="far fa-trash-alt"></i>
      </button>
      <button
        *ngIf="comment.userId === currentUserId && type === 'videogame'"
        class="delete-button"
        (click)="showDeleteModal(comment)"
        title="{{ 'commentaries.delete_comment' | translate }}">
        <i class="far fa-trash-alt"></i>
      </button>
    </aside>
    <div class="like-container">
      <button *ngIf="comment.userId !== currentUserId"
        class="like-button"
        [ngClass]="{'liked': comment.likes?.includes(currentUserId)}"
        [disabled]="!currentUserId"
        (click)="toggleLike(comment)">
        <i class="fas fa-thumbs-up"></i>
      </button>
      <span class="like-count">{{ comment.likes?.length || 0 }}</span>
    </div>
  </div>
</div>

<div *ngIf="selectedCommentToDelete" class="modal-overlay">
  <div class="modal">
    <h2>{{ 'commentaries.modal.title' | translate }}</h2>
    <div class="modal-buttons">
      <button (click)="confirmDelete()" class="confirm-button">{{ 'commentaries.accept' | translate }}</button>
      <button (click)="cancelDelete()" class="cancel-button">{{ 'commentaries.cancel' | translate }}</button>
    </div>
  </div>
</div>
