<div class="carousel-container">
  <span class="carousel-title"><h1>{{ category | translate }}</h1></span>
  <div class="carousel">
    <div class="carousel-track" #carouselTrack>
      <a *ngFor="let videogame of videogameData; let index = index" class="carousel-slide" [routerLink]="['/videogame', videogame.slug]">
        <img
          class="carosel-images"
          [id]="'videogame' + (index + 1)"
          [src]="videogame.coverURL"
          [alt]="videogame.name"
        >
      </a>
    </div>
  </div>
  <div class="carousel-buttons">
    <button class="carousel-button prev-button" (click)="moveCarousel('prev')">←</button>
    <button class="carousel-button next-button" (click)="moveCarousel('next')">→</button>
  </div>
</div>
