<div class="comments-container">
  <h2>Comentarios de las personas que sigues</h2>
  <ng-container *ngIf="groupedComments.length > 0; else noFollowing">
    <div *ngFor="let user of groupedComments">
      <div class="carousel-title">
        <a [routerLink]="['/user', user.id]">
          <img [src]="user.profileicon" [alt]="user.username" class="profileuser-image">
        </a>
        <a [routerLink]="['/user', user.id]">
          <h3>{{ user.username }}</h3>
        </a>
      </div>
      <div *ngIf="user.comments.length > 0; else noComments">
        <div class="carousel-container">
          <div class="carousel">
            <div class="carousel-track" [attr.data-username]="user.username">
              <div class="carousel-slide" *ngFor="let comment of user.comments">
                <div class="comment-columns">
                  <div class="comment-text-stars">
                    <p class="comment-content">{{ comment.content }}</p>
                    <app-stars [rating]="comment.rating"></app-stars>
                    <p class="comment-date">{{ comment.createdAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
                  </div>
                  <div class="comment-image">
                    <a *ngIf="comment.videogame?.slug" [routerLink]="['/videogame', comment.videogame.slug]">
                      <img *ngIf="comment.videogame.coverURL" [src]="comment.videogame.coverURL" [alt]="comment.videogame?.name" class="carousel-image">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-buttons" [class.hidden]="!user.comments || user.comments.length === 0">
        <button class="carousel-button prev-button" (click)="moveCarousel(user.username, 'prev')"><</button>
        <button class="carousel-button next-button" (click)="moveCarousel(user.username, 'next')">></button>
      </div>
      <ng-template #noComments>
        <p class="no-comments-message">Este usuario no tiene comentarios.</p>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #noFollowing>
    <p class="no-following-message">No sigues a nadie.</p>
  </ng-template>
</div>
