.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 100px auto;
}

.welcome-title {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

.welcome-description {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
  margin-right: 250px;
}

.image-container img {
  width: 400px;
}

.arcade-effect {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #2b65ff, #8000ff, #ff0080, #ff0000);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: arcade-wave 3s infinite linear;
}

@keyframes arcade-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1024px) {
  .welcome-title {
    font-size: 19px;
  }
  .welcome-description {
    font-size: 14px;
    margin-right: 70px;
  }
  .image-container img {
    width: 200px;
    border-radius: 40px;
  }
}

@media (max-width: 767px) {
  .main-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .welcome-title {
    font-size: 15px;
    text-align: left;
  }
  .welcome-description {
    font-size: 12px;
    margin-right: 10px;
  }
  .image-container img {
    width: 100px;
    border-radius: 20px;
  }
}
