<main class="main-content">
  <div class="welcome-title">
    <h1 class="welcome-title">Game-Critic</h1>
    <p class="welcome-description">Game-Critic es el portal definitivo para los amantes de los videojuegos que buscan análisis detallados, reseñas imparciales y calificaciones expertas. Desde los últimos lanzamientos hasta clásicos atemporales, aquí encontrarás opiniones fundamentadas sobre gráficos, jugabilidad, historia y más.</p>
  </div>

  <a class="image-container" href="#"><img src="/assets/images/logo-no-background.png" alt="Imagen"></a>
</main>
