<header>

  <div class="header-container">
    <div class="left-container">
      <div class="logo-container">
        <a routerLink="/"><img src="/assets/images/logo.webp" alt="Logo"></a>
      </div>
      <nav class="nav-links">
        <a routerLink="/">Inicio</a>
        <a routerLink="/categories">Explorar</a>
        <a *ngIf="isLoggedIn; else redirectToLogin" routerLink="/following">Siguiendo</a>
        <ng-template #redirectToLogin>
          <a routerLink="/login">Siguiendo</a>
        </ng-template>
      </nav>
      <button class="menu-button">☰</button>


    </div>

    <div class="search-container">
      <input type="text" class="search-box" placeholder="Buscar">
      <button class="search-button">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <circle cx="9" cy="9" r="8" stroke="black" stroke-width="2"/>
          <line x1="14" y1="14" x2="19" y2="19" stroke="black" stroke-width="2"/>
        </svg>
      </button>
    </div>

    <div class="right-container">
      <ng-container *ngIf="isLoggedIn; else guestButtons">
        <a [routerLink]="['/user']" [queryParams]="{ id: userId }"><button class="cta-button">Mi Perfil</button></a>
      </ng-container>
      <ng-template #guestButtons>
        <a routerLink="/registration"><button class="cta-button">Registrarse</button></a>
        <a routerLink="/login" class="login-text">Iniciar sesión</a>
      </ng-template>
    </div>
    <a id="iconbutton" href="/registration">
      <img class="profile-img" src="/assets/images/usericondefault.png" alt="Perfil">
    </a>
  </div>
</header>
