<header>

  <div class="header-container">
    <div class="left-container">
      <div class="logo-container">
        <a href="index.html"><img src="logo.webp" alt="Logo"></a>
      </div>
      <nav class="nav-links">
        <a href="index.html">Inicio</a>
        <a href="categories.html">Explorar</a>
        <a href="#">Amigos</a>
      </nav>
      <button class="menu-button">☰</button>


    </div>

    <div class="search-container">
      <input type="text" class="search-box" placeholder="Buscar">
      <button class="search-button">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <circle cx="9" cy="9" r="8" stroke="black" stroke-width="2"/>
          <line x1="14" y1="14" x2="19" y2="19" stroke="black" stroke-width="2"/>
        </svg>
      </button>
    </div>

    <div class="right-container">
      <a href="signup.html"><button class="cta-button">Registrarse</button></a>
      <a href="signin.html" class="login-text">Iniciar sesión</a>

    </div>
    <a id="iconbutton" href="signin.html">
      <img class="profile-img" src="/images/5951752.png" alt="Perfil">
    </a>

  </div>
</header>
