<header>

  <div class="header-container">
    <div class="left-container">
      <div class="logo-container">
        <a routerLink="/"><img src="/assets/images/logo.webp" alt="Logo"></a>
      </div>
      <nav class="nav-links">
        <a routerLink="/">{{ 'header.home' | translate }}</a>
        <a routerLink="/categories">{{ 'header.categories' | translate }}</a>
        <a *ngIf="isLoggedIn; else redirectToLogin" routerLink="/following"> {{ 'header.following' | translate }}</a>
        <ng-template #redirectToLogin>
          <a routerLink="/login">{{ 'header.following' | translate }}</a>
        </ng-template>
      </nav>
      <button class="menu-button">☰</button>


    </div>

    <div class="search-container">
      <input
        type="text"
        class="search-box"
        placeholder="{{ 'header.search' | translate }}"
        [(ngModel)]="searchText"
        (keydown)="onKeyDowmInSearchInput($event)"
      />
      <button class="search-button" (click)="onSearchButtonClicked()">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <circle cx="9" cy="9" r="8" stroke="black" stroke-width="2"/>
          <line x1="14" y1="14" x2="19" y2="19" stroke="black" stroke-width="2"/>
        </svg>
      </button>
    </div>
    <div class="search-toggle">
      <input type="radio" id="user" name="searchType" value="user" [(ngModel)]="searchType" />
      <label for="user">{{ 'header.toogle.user' | translate }}</label>
      <input type="radio" id="videogame" name="searchType" value="videogame" [(ngModel)]="searchType" />
      <label for="videogame">{{ 'header.toogle.videogame' | translate }}</label>
      <div class="toggle-slider"></div>
    </div>
    <app-search-results
      [searchResults]="searchResults"
      [searchType]="searchType"
      (searchResultClicked)="clearSearchText()"
      [showSearchResults]="showSearchResults"
    ></app-search-results>

    <div class="right-container">
      <ng-container *ngIf="isLoggedIn; else guestButtons">
        <a [routerLink]="['/user', userId]"><button class="cta-button">{{ 'header.my_profile' | translate }}</button></a>
      </ng-container>
      <ng-template #guestButtons>
        <a routerLink="/registration"><button class="cta-button">{{ 'header.sign_up' | translate }}</button></a>
        <a routerLink="/login" class="login-text">{{ 'header.login' | translate}}</a>
      </ng-template>
    </div>
    <a id="iconbutton" href="/registration">
      <img class="profile-img" src="/assets/images/usericondefault.png" alt="Perfil">
    </a>
  </div>
</header>
