<div class="comments-container">
  <div class="comment">
    <div class="user">
      <img [src]="user?.profileicon" [alt]="user?.username" class="profile-image">
      <div class="info">
        <h3>{{ user?.username }}</h3>
        <input
          [(ngModel)]="commentContent"
          placeholder="Escribe tu comentario aquí..."
          class="comment-input"
          type="text">
      </div>
    </div>
    <aside class="stars-container">
      <app-stars [(rating)]="rating" [interactive]="true"></app-stars>
    </aside>
  </div>
  <div class="button-container">
    <ng-container *ngIf="!showDeleteConfirmation">
      <button
        (click)="submitComment()"
        class="submit-button">
        {{ existingCommentId ? 'Modificar Comentario' : 'Enviar Comentario' }}
      </button>
      <button
        *ngIf="existingCommentId"
        (click)="deleteComment()"
        class="delete-button">
        Eliminar Comentario
      </button>
    </ng-container>
  </div>

  <div *ngIf="showDeleteConfirmation" class="modal-overlay">
    <div class="modal">
      <h2>¿Estás seguro de que quieres eliminar este comentario?</h2>
      <div class="modal-buttons">
        <button (click)="confirmDelete()" class="confirm-button">Aceptar</button>
        <button (click)="cancelDelete()" class="cancel-button">Cancelar</button>
      </div>
    </div>
  </div>
</div>
