<div class="comments-container">
  <div class="comment">
    <div class="user">
      <img [src]="user?.profileicon" [alt]="user?.username" class="profile-image">
      <div class="info">
        <h3>{{ user?.username }}</h3>
        <input
          [(ngModel)]="commentContent"
          placeholder="{{ 'new_comment.write_comment' | translate }}"
          class="comment-input"
          type="text">
      </div>
    </div>
    <aside class="stars-container">
      <app-stars [(rating)]="rating" [interactive]="true"></app-stars>
    </aside>
  </div>
  <div class="button-container">
    <ng-container *ngIf="!showDeleteConfirmation">
      <button
        (click)="submitComment()"
        class="submit-button">
        {{ existingCommentId ? (this.modifyCommentText | translate) : (this.sendCommentText | translate) }}
      </button>
      <button
        *ngIf="existingCommentId"
        (click)="deleteComment()"
        class="delete-button">
        {{ 'new_comment.delete_comment' | translate }}
      </button>
    </ng-container>
  </div>

  <div *ngIf="showDeleteConfirmation" class="modal-overlay">
    <div class="modal">
      <h2>{{ 'new_comment.modal.title' | translate }}</h2>
      <div class="modal-buttons">
        <button (click)="confirmDelete()" class="confirm-button">{{ 'new_comment.accept' | translate }}</button>
        <button (click)="cancelDelete()" class="cancel-button">{{ 'new_comment.cancel' | translate }}</button>
      </div>
    </div>
  </div>
  <p *ngIf="message" class="error-message">{{ message | translate }}</p>
</div>
