.categories-dropdown-container {
  position: relative;
  margin-bottom: 1rem;
}

.dropdown-button {
  background-color: #ECD54C;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 60px;
  left: 33%;
  transform: translateX(-50%);
}

.dropdown-button:hover {
  background-color: #D4C03A;
}

.categories-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: -22px;
  left: 33%;
  transform: translateX(-50%);
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.categories-grid input[type="checkbox"] {
  display: none;
}

.category-item.selected {
  background-color: #ECD54C;
  border-radius: 5px;
  padding: 5px;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  padding: 5px;
}
