<div class="categories-dropdown-container">
  <button (click)="toggleDropdown()" class="dropdown-button">{{ 'categories.filter' | translate }}</button>
  <div *ngIf="showDropdown" class="categories-dropdown">
    <div class="categories-grid">
      <label *ngFor="let category of allCategories" class="category-item" [class.selected]="selectedCategories.includes(category)">
        <input
          type="checkbox"
          [value]="category"
          [checked]="selectedCategories.includes(category)"
          (change)="onCategoryChange($event)"
        />
        {{ category | translate }}
      </label>
    </div>
  </div>
</div>

<div *ngFor="let category of getDisplayedCategories()">
  <app-carousel [category]="category | translate"></app-carousel>
</div>
