<div class="form-container">
  <div class="form-box">
    <h2 class="register-title">Iniciar sesión</h2>
    <p id="message" class="error-message"></p>

    <form id="login-form">
      <label for="email-input" class="label">Correo</label>
      <input type="email" class="input" id="email-input" placeholder="Correo" required>

      <label for="password-input" class="label">Contraseña</label>
      <input type="password" class="input" id="password-input" placeholder="Contraseña" required>

      <button class="button" type="submit" id="login-button">Iniciar sesión</button>
    </form>

    <div class="register-footer">
      <span class="bold-text">¿No tienes cuenta?</span>
      <a href="signup.html" class="register-link">Registrarse</a>
    </div>
  </div>
</div>
