<div class="form-container">
  <div class="form-box">
    <span class="register-title">Registrarse</span>

    <form id="login-form">
      <label class="label">Correo</label>
      <input type="email" class="input" placeholder="Correo" required>

      <label class="label">Nombre</label>
      <input type="text" class="input" placeholder="Nombre" required>

      <label class="label">Contraseña</label>
      <input type="password" class="input" placeholder="Contraseña" required>

      <div class="checkbox-container">
        <input type="checkbox" id="checkbox" required>
        <label for="checkbox">Acepto todos los Términos de Servicio y la Política de Privacidad</label>
      </div>

      <button type="submit" class="button">Registrarse</button>
    </form>

    <div class="register-footer">
      <span class="bold-text">Si ya tienes cuenta</span>
      <a href="signin.html"><button class="shadow-text">Iniciar sesión</button></a>
    </div>
  </div>
</div>
