<div class="form-container">
  <div class="form-box">
    <span class="register-title">{{ 'sign_up.sign_up' | translate }}</span>

    <form #registrationForm="ngForm" (ngSubmit)="register()">
      <label class="label">{{ 'sign_up.email' | translate }}</label>
      <input
        type="email"
        class="input"
        [(ngModel)]="email"
        name="email"
        placeholder="{{ 'sign_up.email' | translate }}"
        required
        #emailInput="ngModel"
        [class.input-error]="emailInput.invalid && emailInput.touched">
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
        <small *ngIf="emailInput.errors?.['required']">{{ 'sign_up.required_email' | translate }}</small>
        <small *ngIf="emailInput.errors?.['email']">{{ 'sign_up.invalid_email_format' | translate }}</small>
      </div>

      <label class="label">{{ 'sign_up.name' | translate }}</label>
      <input
        type="text"
        class="input"
        [(ngModel)]="name"
        name="name"
        placeholder="{{ 'sign_up.name' | translate }}"
        required
        #nameInput="ngModel"
        [class.input-error]="nameInput.invalid && nameInput.touched">
      <div *ngIf="nameInput.invalid && nameInput.touched" class="error-message">
        <small *ngIf="nameInput.errors?.['required']">{{ 'sign_up.required_name' | translate }}</small>
      </div>

      <label class="label">{{ 'sign_up.username' | translate }}</label>
      <input
        type="text"
        class="input"
        [(ngModel)]="username"
        name="username"
        placeholder="{{ 'sign_up.username' | translate }}"
        required
        #usernameInput="ngModel"
        [class.input-error]="usernameInput.invalid && usernameInput.touched">
      <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error-message">
        <small *ngIf="usernameInput.errors?.['required']">{{ 'sign_up.required_username' | translate }}</small>
      </div>

      <label class="label">{{ 'sign_up.password' | translate }}</label>
      <input
        type="password"
        class="input"
        [(ngModel)]="password"
        name="password"
        placeholder="{{ 'sign_up.password' | translate }}"
        required
        minlength="8"
        #passwordInput="ngModel"
        [class.input-error]="passwordInput.invalid && passwordInput.touched">
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
        <small *ngIf="passwordInput.errors?.['required']">{{ 'sign_up.required_password' | translate }}</small>
        <small *ngIf="passwordInput.errors?.['minlength']">{{ 'sign_up.wrong_password_characters' | translate }}</small>
      </div>

      <div class="g-recaptcha" data-sitekey="6Lf5Xz0rAAAAAPiAcDxFX5clDaNiwY72_M0zfpxD"></div>
      <div *ngIf="captchaError" class="error-message">
        <small>{{ captchaError }}</small>
      </div>

      <div class="checkbox-container">
        <input
          type="checkbox"
          id="checkbox"
          required
          [(ngModel)]="termsAccepted"
          name="termsAccepted">
        <label for="checkbox">
          <div>
            {{ 'sign_up.accept_tos.1' | translate }}
            <span class="link" (click)="onPoliciesClick()">{{ 'sign_up.accept_tos.2' | translate }}</span>
            {{ 'sign_up.accept_tos.3' | translate }}
            <span class="link" (click)="onPoliciesClick()">{{ 'sign_up.accept_tos.4' | translate }}</span>.
          </div>
        </label>
      </div>
      <div *ngIf="!termsAccepted && registrationForm.submitted" class="error-message">
        <small>{{ 'sign_up.must_accept_tos' | translate }}</small>
      </div>

      <button type="submit" class="button" [disabled]="registrationForm.invalid">{{ 'sign_up.sign_up' | translate }}</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage | translate }}</p>

    <div class="register-footer">
      <span class="bold-text">{{ 'sign_up.if_have_account' | translate }}</span>
      <a routerLink="/login"><button class="shadow-text">{{ 'sign_up.log_in' | translate }}</button></a>
    </div>
  </div>
</div>
