<div class="profile-container" *ngIf="userInfo && (type === 'user')">
  <img
    [src]="userInfo.profileicon"
    [alt]="userInfo.name"
    [class.user-profile-image]="type === 'user'"
    class="profile-image">
  <div class="profile-info">
    <h2 class="profile-title">{{ userInfo.name }}</h2>
    <h3 class="profile-subtitle">{{ userInfo.username }}</h3>
    <p class="profile-description" *ngIf="userInfo.description">{{ userInfo.description }}</p>
    <button *ngIf="type === 'user' && isCurrentUser" (click)="editMode = true; errorMessage='' " class="edit-profile-button">
      {{ 'profile.edit_profile' | translate }}</button>
  </div>
  <form *ngIf="editMode" #editForm="ngForm" (ngSubmit)="saveProfile()" class="edit-form">
    <input type="text" [(ngModel)]="editableData.name" name="name" placeholder="{{ 'profile.name' | translate }}" required  #nameField="ngModel">
    <div *ngIf="nameField.invalid && nameField.touched" class="error-message">
      {{ 'profile.error.empty_name' | translate }}
    </div>
    <input type="text" [(ngModel)]="editableData.username" name="username" placeholder="{{ 'profile.username' | translate }}" required
           #usernameField="ngModel">
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage | translate }}</p>
    <div *ngIf="usernameField.invalid && usernameField.touched" class="error-message">
      {{ 'profile.empty_username' | translate }}
    </div>
    <textarea [(ngModel)]="editableData.description" name="description" placeholder="{{ 'profile.description' | translate }}"></textarea>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <div *ngIf="formErrorMessage" class="error-message">
      {{ formErrorMessage | translate }}
    </div>
    <div class="button-group">
      <button type="submit" [disabled]="!editForm.valid">{{ 'profile.save' | translate }}</button>
      <button type="button" (click)="cancelEdit()">{{ 'profile.cancel' | translate }}</button>
    </div>
  </form>


</div>

<div class="profile-container" *ngIf="gameInfo && (type === 'videogame')">
  <img
    *ngIf="gameCover"
    [src]="this.gameCover"
    [alt]="gameInfo.name"
    [class.videogame-profile-image]="type === 'videogame'"
    >
  <div class="profile-info">
    <div id="game-info-container" *ngIf="showPlatformsAndGenres">
      <div class="game-info" *ngIf="gameInfo.platforms">
        <p>{{ 'profile.platforms' | translate }}</p>
        <ul *ngFor="let platform of gameInfo.platformsNames">
          <li>{{ platform.name }}</li>
        </ul>
      </div>
      <div class="game-info" *ngIf="gameInfo.genres">
        <p>{{ 'profile.genres' | translate }}</p>
        <div *ngIf="this.selectedLanguage == 'en'">
          <ul *ngFor="let genre of gameInfo.genresNames">
            <li>{{ genre.name }}</li>
          </ul>
        </div>
        <div *ngIf="this.selectedLanguage != 'en' && this.gameInfo.translatedGenreNames">
          <ul *ngFor="let genre of gameInfo.translatedGenreNames[this.selectedLanguage]">
            {{ genre }}
          </ul>
        </div>
      </div>
    </div>
    <h2 class="profile-title">{{ gameInfo.name }} <span *ngIf="showReleaseYear()">
      ({{ apiService.getReleaseYear(gameInfo.first_release_date) }})</span></h2>
    <div class="profile-description" *ngIf="gameInfo.summary">
      <p *ngIf="this.selectedLanguage == 'en'">{{ this.gameInfo.summary }}</p>
      <p *ngIf="this.selectedLanguage != 'en' && this.gameInfo.translatedSummary">
        {{ this.gameInfo.translatedSummary[this.selectedLanguage] }}</p>
    </div>
  </div>
</div>
