<div class="profile-container" *ngIf="data && (type === 'user')">
  <img
    [src]="data.profileicon"
    [alt]="data.name"
    [class.user-profile-image]="type === 'user'"
    class="profile-image">
  <div class="profile-info">
    <h2 class="profile-title">{{ data.name }}</h2>
    <h3 class="profile-subtitle">{{ data.username }}</h3>
    <p class="profile-description" *ngIf="data.description">{{ data.description }}</p>
    <button *ngIf="type === 'user' && isCurrentUser" (click)="editMode = true" class="edit-profile-button">
      Editar perfil</button>
  </div>

  <form *ngIf="editMode" #editForm="ngForm" (ngSubmit)="saveProfile()" class="edit-form">
    <input type="text" [(ngModel)]="editableData.name" name="name" placeholder="Nombre" required>
    <input type="text" [(ngModel)]="editableData.username" name="username" placeholder="Username" required>
    <textarea [(ngModel)]="editableData.description" name="description" placeholder="Descripción"></textarea>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <button type="submit" [disabled]="!editForm.valid">Guardar</button>
    <button type="button" (click)="cancelEdit()">Cancelar</button>
  </form>


</div>

<div class="profile-container" *ngIf="gameInfo && (type === 'videogame')">
  <img
    *ngIf="gameCover"
    [src]="this.gameCover"
    [alt]="gameInfo.name"
    [class.videogame-profile-image]="type === 'videogame'"
    >
  <div class="profile-info">
    <div id="game-info-container" *ngIf="showPlatformsAndGenres">
      <div class="game-info" *ngIf="gameInfo.platforms">
        <p>Plataformas</p>
        <ul *ngFor="let platform of gameInfo.platformsNames">
          <li>{{ platform.name }}</li>
        </ul>
      </div>
      <div class="game-info" *ngIf="gameInfo.genres">
        <p>Géneros</p>
        <ul *ngFor="let genre of gameInfo.genresNames">
          <li>{{ genre.name }}</li>
        </ul>
      </div>
    </div>
    <h2 class="profile-title">{{ gameInfo.name }} <span *ngIf="showReleaseYear()">
      ({{ apiService.getReleaseYear(gameInfo.first_release_date) }})</span></h2>
    <p class="profile-description" *ngIf="gameInfo.summary">{{ gameInfo.summary }}</p>
  </div>
</div>
