<link rel="stylesheet" href="/css/carousel.css">

<div class="carousel-container">
  <span class="carousel-title"><h1>Titulo del carrusel</h1></span>
  <div class="carousel">
    <div class="carousel-track">
      <a class="carousel-slide" href="videogameprofile.html"><img class=carosel-images id="videogame1" src="/images/placeholderRectangle.png" alt="Image 1"></a>
      <a class="carousel-slide" href="videogameprofile.html"><img class=carosel-images id="videogame2" src="/images/placeholderRectangle.png" alt="Image 2"></a>
      <a class="carousel-slide" href="videogameprofile.html"><img class=carosel-images id="videogame3" src="/images/placeholderRectangle.png" alt="Image 3"></a>
      <a class="carousel-slide" href="videogameprofile.html"><img class=carosel-images id="videogame4" src="/images/placeholderRectangle.png" alt="Image 4"></a>
      <a class="carousel-slide" href="videogameprofile.html"><img class=carosel-images id="videogame5" src="/images/placeholderRectangle.png" alt="Image 5"></a>
    </div>
  </div>
  <div class="carousel-buttons">
    <button class="carousel-button prev-button"><</button>
    <button class="carousel-button next-button">></button>
  </div>
</div>