<link rel="stylesheet" href="/css/commentaries.css">

<body>
    <div class="comments-container">
        <div class="comment">
            <div class="user">
                <img src="/images/placeholder.png" alt="User" class="avatar">
                <aside class="info">
                    <h3>User Name</h3>
                    <p>Short comment about the experience.</p>
                </aside>
            </div>
            <aside class="rating">★★★★☆</aside>
        </div>
    </div>
</body>
