<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">LOREM IPSUM</div>

        <nav class="footer-nav">
            <ul>
                <li><a href="#">LOREM IPSUM</a></li>
                <li><a href="#">LOREM IPSUM</a></li>
                <li><a href="#">LOREM IPSUM</a></li>
            </ul>
        </nav>

        <nav class="footer-nav">
            <ul>
                <li><a href="#">LOREM IPSUM</a></li>
                <li><a href="#">LOREM IPSUM</a></li>
                <li><a href="#">LOREM IPSUM</a></li>
            </ul>
        </nav>

        <nav class="footer-nav">
            <ul>
                <li><a href="#">LOREM IPSUM</a></li>
                <li><a href="#">LOREM IPSUM</a></li>
                <li><a href="#">LOREM IPSUM</a></li>
            </ul>
        </nav>

        <div class="footer-logo">LOREM IPSUM</div>
    </div>

    <div class="footer-icons">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
    </div>
</footer>
