<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="footer-container">
        <div class="items">
            <a href="#">
                <div class="item" id="instagram">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png" width="40" alt="Item 1">
                </div>
            </a>
            <a href="#">
                <div class="item" id="facebook">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" width="40" alt="Item 2">
                </div>
            </a>
            <a href="#">
                <div class="item" id="xlogo">
                    <img src="https://img.freepik.com/vector-gratis/nuevo-diseno-icono-x-logotipo-twitter-2023_1017-45418.jpg" width="40" alt="Item 3">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="https://play-lh.googleusercontent.com/6am0i3walYwNLc08QOOhRJttQENNGkhlKajXSERf3JnPVRQczIyxw2w3DxeMRTOSdsY" width="40" alt="Item 4">
                </div>
            </a>
        </div>
        <div class="title">Copyright &copy; 2025</div>
        <div class="title">Términos de Servicio y Política de Privacidad</div>
    </div>
</footer>
