<link rel="stylesheet" href="/css/login.css">

<div class="form-container">
  <div class="form-box">
    <span class="register-title">Iniciar sesión</span>

    <label class="label">Correo</label>
    <input type="email" class="input" placeholder="Correo">

    <label class="label">Contraseña</label>
    <input type="password" class="input" placeholder="Contraseña">

    <button class="button">Iniciar sesión</button>

    <div class="register-footer">
      <span class="bold-text">Si no tienes cuenta</span>
      <a href="signup.html"><button class="shadow-text">Registrarse</button></a>
    </div>
  </div>
</div>
