<link rel="stylesheet" href="/css/registration.css">

<div class="form-container">
  <div class="form-box">
    <h2 class="title">Registrarse</h2>

    <label class="label">Correo</label>
    <input type="email" class="input" placeholder="Correo">

    <label class="label">Nombre</label>
    <input type="text" class="input" placeholder="Nombre">

    <label class="label">Contraseña</label>
    <input type="password" class="input" placeholder="Contraseña">

    <div class="checkbox-container">
      <input type="checkbox" id="checkbox">
      <label for="checkbox">Acepto todos los Términos de Servicio y la Política de Privacidad</label>
    </div>

    <button class="button">Registrarse</button>

    <div class="footer">
      <span class="bold-text">Si ya tienes cuenta</span>
      <span class="shadow-text">Iniciar sesión</span>
    </div>
  </div>
</div>
