.rating {
  direction: rtl;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.rating input {
  display: none;
}

.rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}
