main {
  display: flex;
  padding: 1rem;
  align-items: center;
}

app-profile {
  width: 40%;
  margin-right: 2rem;
}

app-socialstats {
  margin-left: auto;
  margin-right: 100px;
}

app-commentaries {
  display: block;
  width: 100%;
  margin-top: 2rem;
  flex-basis: 100%;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #d32f2f;
}

@media (max-width:767px){

  main {
    display: block;
  }
  app-profile {
    width: 20%;
    margin-right: 2rem;
  }
}
