main {
  display: flex;
  padding: clamp(0.5rem, 2vw, 2rem); /* Padding adaptable entre 8px y 32px */
  align-items: center;
  flex-wrap: wrap;
}

app-profile {
  width: 40%;
  margin-right: clamp(1rem, 3vw, 2rem);
  gap: clamp(1rem, 4vw, 2rem);
}

app-socialstats {
  margin-left: auto;
  margin-right: clamp(2rem, 6vw, 6.25rem);
}

app-commentaries {
  display: block;
  width: 100%;
  margin-top: clamp(1rem, 4vw, 2rem);
  flex-basis: 100%;
}

.follow-button {
  background-color: #ECD54C;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 12rem;
}

.follow-button:hover {
  background-color: #d1b842;
}

.unfollow-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10.5rem;
}

.unfollow-button:hover {
  background-color: #d32f2f;
}


.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10.5rem;
}

.logout-button:hover {
  background-color: #d32f2f;
}

/* Móviles */
@media (max-width: 767px) {
  main {
    display: block;
  }

  app-profile {
    margin-right: clamp(1rem, 3vw, 2rem);
  }
}
