<main *ngIf="!this.showErrorMessage">
  <app-profile [type]="'user'"
               [userInfo]="this.currentUser"
               [isCurrentUser]="this.isCurrentUserProfile">
  </app-profile>
  <app-socialstats [valorations]="this.valorations"
                   [followerList]="this.followerList"
                   [followingList]="this.followingList">
  </app-socialstats>
</main>

<!-- Conditionally render Follow or Unfollow button only if it's not the current user's profile -->
<div *ngIf="!isCurrentUserProfile && !this.showErrorMessage">
  <button *ngIf="!isFollowing" (click)="followUser()" class="follow-button">{{ 'user_profile_page.follow' | translate }}</button>
  <button *ngIf="isFollowing" (click)="unfollowUser()" class="unfollow-button">{{ 'user_profile_page.stop_following' | translate }}</button>
</div>
<div *ngIf="isCurrentUserProfile && !this.showErrorMessage">
  <button (click)="logout()" class="logout-button">{{ 'user_profile_page.log_out' | translate }}</button>
</div>


<app-commentaries *ngIf="!this.showErrorMessage" [type]="'user'" [comments]="this.comments"></app-commentaries>

<main *ngIf="this.showErrorMessage" class="error-message">
  <h1>Ups...</h1>
  <p>{{ 'user_profile_page.error.invalid_user' | translate }}</p>
  <p [innerHTML]="'user_profile_page.error.go_to_home' | translate"></p>
</main>
