* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Oswald, sans-serif;
  background-color: #F0ECE3;

  padding: 0;
}

h1 {
  font-size: 34px;
  margin-bottom: 10px;
  text-align: left;
}

h2 {
  font-size: 18px;
  color: #706b6b;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
  }
}
