* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  background-color: #f0ece3;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;

  padding: 0;
}

body.dark-mode {
  background-color: #1C1C1F;
}

body.dark-mode .info p {
  color: #ffffff !important;
}

body.dark-mode h1 {
  color: #B9B9B9 !important;
}

body.dark-mode .profile-subtitle {
  color: #ffffff !important;
}

body.dark-mode .column p {
  color: #ffffff !important;
}

h1 {
  font-size: 34px;
  margin-bottom: 10px;
  text-align: left;
}

h2 {
  font-size: 18px;
  color: #706b6b;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}

/* Estilos generales para botones */
button {
  background-color: #baafaf;
  color: #000000;
  border: 1px solid #cccccc;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode button {
  background-color: #ffe066;
  color: #181818;
  border: none;
}

/* Tarjetas de información (plataformas, géneros, etc.) */
body.dark-mode .info-card,
body.dark-mode .platforms,
body.dark-mode .genres {
  background-color: #232323 !important;
  color: #ffe066 !important;
  border: 1px solid #333 !important;
}

/* Botón principal */
body.dark-mode .cta-button {
  background-color: #ffe066;
  color: #181818;
  border: none;
}

/* Estilos específicos para los botones del header */
.header-container .cta-button,
.header-container .menu-button {
  background-color: #f0f0f0;
  color: #000000;
  border: none;
}

.header-container .dark-mode-toggle {
  background-color: transparent;
  border: none;
}

.header-container .nav-links a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

body.dark-mode .header-container .cta-button,
body.dark-mode .header-container .menu-button {
  background-color: #f4d73e;
  color: #000000;
}

body.dark-mode .header-container .nav-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

/* Buscador */
body.dark-mode .search-box,
body.dark-mode .search-bar {
  background-color: #31313C;
  color: #ffffff;
  border: 1px solid #444;
  border: none;
}
body.dark-mode .welcome-description {
  color: #ffffff !important;
}
body.dark-mode .form-box {
  background-color: #31313C;
  color: #ffffff;
  border: 1px solid #444;
}

body.dark-mode .search-container {
  background-color: #31313C;
  border-color: rgb(79, 79, 79);
}
/* Logo en modo oscuro */
body.dark-mode .image-container {
  content: url('/assets/images/logo-no-background-darkmode.png');
  width: 400px;
}

body.dark-mode .register-title {
  color: #B9B9B9;
}

body.dark-mode h2 {
  color: #B9B9B9;
}

/* Comentarios y usuarios */
body.dark-mode .comment,
body.dark-mode .user-info {
  background-color: #31313C;
  border-radius: 10px;
  color: #B9B9B9;
}

body.dark-mode .profile-description {
  color: #ffffff;
}

body.dark-mode .profile-title {
  color: #b9b9b9;
}

body.dark-mode .modal-content {
  background-color: #31313C;
  color: #B9B9B9;
}

body.dark-mode #search-results {
  background-color: #31313C;
}

body.dark-mode .like-count {
  color: #B9B9B9;
}

/* Fondo blanco para comentarios y usuarios en modo claro */
.comment,
.user-info {
  background-color: #e5e5e5;
  border-radius: 10px;
  color: #000000;
}

/* Estilos para otros elementos de texto */
.nav-links a,
.cta-button,
.login-text {
  color: inherit;
}

body.dark-mode .nav-links a,
body.dark-mode .cta-button,
body.dark-mode .login-text {
  color: #ffffff;
}

body.dark-mode footer {
  background-color: #31313C;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
  }
}