<main *ngIf="this.gameInfo && this.showContent">
  <app-profile [type]="'videogame'"
               [gameInfo]="this.gameInfo"
               [gameCover]="this.gameCover"
               [showPlatformsAndGenres]="true" [selectedLanguage]="this.selectedLanguage"></app-profile>
  <app-stars [rating]="averageRating"></app-stars>
</main>

<button *ngIf="this.gameInfo  && this.showContent" (click)="navigateToAddComment()" class="add-comment-button">
  {{ hasComment ? this.modifyReviewText : this.addReviewText }}
</button>

<app-commentaries *ngIf="this.gameInfo  && this.showContent" [type]="'videogame'" [comments]="this.comments"></app-commentaries>

<main *ngIf="this.showErrorMessage" class="error-message">
  <h1>Ups...</h1>
  <p>{{ 'videogame_profile_page.error.invalid_game' | translate }}</p>
  <p>
    {{ 'videogame_profile_page.error.go_to_home.1' | translate }}<button
    class="add-comment-button" id="return-to-explore-button"
    (click)="navigateToExplore()">{{ 'videogame_profile_page.error.go_to_home.2' | translate }}</button>
  </p>
</main>
