<main *ngIf="this.gameInfo && this.showContent">
  <app-profile [type]="'videogame'" [gameInfo]="this.gameInfo" [gameCover]="this.gameCover" [showPlatformsAndGenres]="true"></app-profile>
  <app-stars [rating]="averageRating"></app-stars>
</main>

<button *ngIf="this.gameInfo  && this.showContent" (click)="navigateToAddComment()" class="add-comment-button">
  {{ hasComment ? 'Modificar valoración' : 'Añadir valoración' }}
</button>

<app-commentaries *ngIf="this.gameInfo  && this.showContent" [type]="'videogame'" [comments]="this.comments"></app-commentaries>

<main *ngIf="this.showErrorMessage" class="error-message">
  <h1>Ups...</h1>
  <p>Parece que el videojuego que has introducido en la URL no es válido</p>
  <p>Utiliza el buscador o <button
    class="add-comment-button" id="return-to-explore-button"
    (click)="navigateToExplore()">explora las diferentes categorías</button></p>
</main>
