main {
  display: flex;
  padding: 1rem;
  align-items: center;
}

app-profile {
  width: 70%;
  margin-right: 2rem;
}

app-stars {
  margin-left: auto;
  margin-right: 100px;
}

app-commentaries {
  display: block;
  width: 100%;
  margin-top: 2rem;
  flex-basis: 100%;
}

.add-comment-button {
  background-color: #ECD54C;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 100px;
}

.add-comment-button:hover {
  background-color: #d1b842;
}

@media (max-width:767px){

  main {
    display: block;
  }
}
