<div class="stats-container">
  <div class="column">
    <h1>{{ 'social_stats.reviews' | translate }}</h1>
    <p id="valoraciones">{{ valorations }}</p>
  </div>
  <div class="column">
    <h1>{{ 'social_stats.followers' | translate }}</h1>
    <p id="followers" (click)="toggleFollowersDropdown()">{{ followerList.length }}</p>
    <div *ngIf="showFollowersDropdown" class="modal">
      <div class="modal-content">
        <h2>{{ 'social_stats.followers' | translate }}</h2>
        <ul>
          <li *ngFor="let follower of followerList">
            <a (click)="goToUserProfile(follower.id)" class="user-link">{{ follower.name }}</a>
          </li>
        </ul>
        <button class="close-button" (click)="toggleFollowersDropdown()">{{ 'social_stats.close' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="column">
    <h1>{{ 'social_stats.following' | translate }}</h1>
    <p id="following" (click)="toggleFollowingDropdown()">{{ followingList.length }}</p>
    <div *ngIf="showFollowingDropdown" class="modal">
      <div class="modal-content">
        <h2>{{ 'social_stats.following' | translate }}</h2>
        <ul>
          <li *ngFor="let following of followingList">
            <a (click)="goToUserProfile(following.id)" class="user-link">{{ following.name }}</a>
          </li>
        </ul>
        <button class="close-button" (click)="toggleFollowingDropdown()">{{ 'social_stats.close' | translate }}</button>
      </div>
    </div>
  </div>
</div>
